commands:
  00_install_poppler:
    command: yum --enablerepo=epel -y install postgis2_94 http://centos-distro.cavecreek.net/centos/6.6/os/x86_64/Packages/poppler-0.12.4-3.el6_0.1.x86_64.rpm
  01_install_pgdg:
    command: yum -y install http://yum.postgresql.org/9.4/redhat/rhel-6-x86_64/pgdg-ami201503-94-9.4-1.noarch.rpm
  02_yum_update:
    command: sudo yum -y update
  03_epel_repo:
    command: sudo yum-config-manager -y --enable epel
  04_install_gdal_packages:
    command: sudo yum -y install gdal gdal-devel
  
packages:
  yum:
    git: []
    postgresql95-devel: []
    gettext: []
    libjpeg-turbo-devel: []
    libffi-devel: []

